body {
	font-size: 10px;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-south {
	text-align: center;
	font-weight: bold;
}

#title {
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 15px;
	padding: 10px;
	padding-bottom: 15px;
}