body {
	font-size: 0.5em;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-east .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-east {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-cmmi {
	moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #E6E6E6;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	display: block;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	text-align: inherit;
	line-height: 1.4;
	padding-bottom: 0.4em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-top: 0.4em;
}

.ui-cmmi-titulo {
	width: 175px;
	text-align: center;
}

.ui-cmmi-titulo-middle {
	line-height: 110px;
}

.ui-cmmi-processos {
	width: 175px;
	height: 110px;
	background-color: #A6B6C6;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #A6B6C6);
	background-color: #A6B6C6;
}

.ui-cmmi-projetos {
	width: 175px;
	height: 110px;
	background-color: #C6F9A1;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #C6F9A1);
}

.ui-cmmi-engenharia {
	width: 175px;
	height: 110px;
	background-color: #E9A9F1;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #E9A9F1);
}

.ui-cmmi-suporte {
	width: 175px;
	height: 110px;
	background-color: #A0A9A0;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #A0A9A0);
}

.ui-cmmi-processo {
	text-align: left;
	border-bottom-color: #B3B3B3;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #E6E6E6;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-left-style-value: solid;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-left-width-value: 1px;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: #E6E6E6;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right-style-value: solid;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-right-width-value: 1px;
	border-top-color: #E6E6E6;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
}

.slotActive {
	background-color: #FFCC55;
	background-image: -moz-linear-gradient(center top, #FFCC55, #FFFFFF);
}

/* Primefaces */
.ui-panelgrid {
	border-collapse: inherit;
}

.ui-panelgrid td {
	border: none;
	padding: 0px;
	vertical-align: top;
}